<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_elastic_root"
              name="Elastic"
              web_icon="odoo-elastic-app,static/description/icon.png"
              sequence="10"/>

    <!-- Configuration Menu -->
    <menuitem id="menu_elastic_configuration"
              name="Configuration"
              parent="menu_elastic_root"
              sequence="10"/>

    <menuitem id="menu_elastic_config"
              name="Settings"
              parent="menu_elastic_configuration"
              action="action_elastic_config"
              sequence="1"/>

    <menuitem id="menu_elastic_connection"
              name="SFTP Connections"
              parent="menu_elastic_configuration"
              action="action_elastic_connection"
              sequence="2"/>

    <menuitem id="menu_elastic_catalog"
              name="Catalogs"
              parent="menu_elastic_configuration"
              action="action_elastic_catalog"
              sequence="3"/>

    <!-- Orders Menu -->
    <menuitem id="menu_elastic_orders"
              name="Orders"
              parent="menu_elastic_root"
              sequence="15"/>

    <menuitem id="menu_elastic_order_staging"
              name="Staged Orders"
              parent="menu_elastic_orders"
              action="action_elastic_order_staging"
              sequence="1"/>

    <menuitem id="menu_elastic_customer_xref"
              name="Customer Cross-References"
              parent="menu_elastic_configuration"
              action="action_elastic_customer_xref"
              sequence="4"/>

    <!-- Logs Menu -->
    <menuitem id="menu_elastic_logs"
              name="Logs"
              parent="menu_elastic_root"
              sequence="20"/>

    <menuitem id="menu_elastic_export_log"
              name="Export Logs"
              parent="menu_elastic_logs"
              action="action_elastic_export_log"
              sequence="1"/>

    <menuitem id="menu_elastic_import_log"
              name="Import Logs"
              parent="menu_elastic_logs"
              action="action_elastic_import_log"
              sequence="2"/>
</odoo>
